Repository rstcheck/rstcheck: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-spelling-dicts, find-todos, mypy

Path conditions:
  sort-spelling-dicts: any of: spelling_dict.txt
  find-todos: any file but: TODO
  mypy: any of: \.py$

update spelling dict
  spelling_dict.txt
Due: sort-spelling-dicts, find-todos

fix release script; remove manual v prefix in string
  prep_release.py
Due: find-todos, mypy

"release v6.2.2 [skip ci]"
  CHANGELOG.md
Due: find-todos

fix return type of cli function
  src/rstcheck/_cli.py
Due: find-todos, mypy

remove hashtags from log message
  src/rstcheck/_cli.py
Due: find-todos, mypy

add help text to --version flag
  src/rstcheck/_cli.py
Due: find-todos, mypy

switch to "early return" for special exception case
  src/rstcheck/_cli.py
Due: find-todos, mypy

add note to docs an how to disable pretty exception output
  docs/source/usage/cli.rst
Due: find-todos

update changelog
  CHANGELOG.md
Due: find-todos

simplify cli return type
  src/rstcheck/_cli.py
Due: find-todos, mypy

remove unneeded extra from typer dependency; typer-slim is without extra and type is by default with them
  pyproject.toml
Due: find-todos

"release v6.2.3 [skip ci]"
  CHANGELOG.md
Due: find-todos

fix changelog being merged wrongly
  CHANGELOG.md
Due: find-todos

"release v6.2.4 [skip ci]"
  CHANGELOG.md
Due: find-todos

remove deprecated get_html_theme_path
  docs/source/conf.py
Due: find-todos, mypy

update ruff config for new version
  pyproject.toml
Due: find-todos

remove duplicate ruff ignore
  pyproject.toml
Due: find-todos

Support click 8.2
  tests/integration_tests/cli_test.py
  tests/integration_tests/conftest.py
Due: find-todos, mypy

Update AUTHORS.rst file with new author(s)
  AUTHORS.rst
Due: find-todos

use stderr for checking for error messages in tests
  tests/integration_tests/cli_test.py
Due: find-todos, mypy

drop py3.8; add py3.12
  .github/workflows/test.yml
  CHANGELOG.md
  pyproject.toml
  tox.ini
Due: find-todos

fix changelog, put new entry in correct place
  CHANGELOG.md
Due: find-todos

ignore RUF034 in script
  prep_release.py
Due: find-todos, mypy

use output over sterr for default error msg check in test
  tests/integration_tests/cli_test.py
Due: find-todos, mypy

drop 3.13 from CI testing pool for now
  .github/workflows/test.yml
  CHANGELOG.md
Due: find-todos

simplify link text
  docs/source/usage/cli.rst
Due: find-todos

fix rtd config
  .readthedocs.yaml
  CHANGELOG.md
Due: find-todos

add missing build.tools value to rtd config
  .readthedocs.yaml
Due: find-todos

fix rtd config
  .readthedocs.yaml
Due: find-todos

fix rtd config; consolidate py version
  .readthedocs.yaml
Due: find-todos

ignore false positive for unused link
  .rstcheck.project.cfg
Due: find-todos

revert attempted unnecessary simplification in link text
  docs/source/usage/cli.rst
Due: find-todos

Add 3.13 to CI test pool
  .github/workflows/test.yml
Due: find-todos

add 'readthedocs' to spelling dict
  spelling_dict.txt
Due: sort-spelling-dicts, find-todos

add sphinx 8 to tox test envs
  tox.ini
Due: find-todos

dropped support for sphinx 5
  CHANGELOG.md
  pyproject.toml
  tox.ini
Due: find-todos
